@model moment2_dt191g.Models.TripModel

<h2>Resor...</h2>

<form method="post">
    <label asp-for="Country"></label>
    <input asp-for="Country" />
    <span asp-validation-for="Country"></span>
    <br>
    <label asp-for="City"></label>
    <input asp-for="City" />
    <span asp-validation-for="City"></span>
    <br>
    <label asp-for="StartDate"></label>
    <input asp-for="StartDate" />
    <span asp-validation-for="StartDate"></span>
    <br>
    <label asp-for="EndDate"></label>
    <input asp-for="EndDate" />
    <span asp-validation-for="EndDate"></span>
    <br>
    <label asp-for="Rating"></label>
    <input asp-for="Rating" />
    <span asp-validation-for="Rating"></span>
    <br>
    <input type="submit" value="Lägg till resa">
</form>


