html {
  font-size: 14px;
  position: relative;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  min-height: 100vh;
  margin: 0;
  background-color: #f5f5f5;
  line-height: 2em;
}

nav {
  height: 80px;
  font-size: 18px;
}

main {
  background-color: #ffffff;
  border-radius: 10px;
  margin: 30px auto;
  padding: 40px;
  max-width: 1100px;
}

.custom-blue { 
  background-color: #c2dff1;
  color: #2a2a2a;
}

.custom-theme {
  background-color: #73accf;
  color: #ffffff;
}

.custom-theme .navbar-brand,
.custom-theme .nav-link,
.custom-theme .container {
  color: #ffffff !important; /* Ser till så att all text blir vit */
}

.custom-theme .nav-link:hover {
  color: #284460 !important;
}

footer {
  background-color: #73accf;
  color: #ffffff;
  font-style: italic;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
}
